/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 16px;
}

.App-header .question-number {
  font-size: 24px;
  position: absolute;
  top: 0%;
  text-align: center;

}

.question-number {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.question-answers {
  display: flex;
  justify-content: center;
}


.question-answer {
  border: solid #171717;
  vertical-align: middle;
  max-width:200px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}





.keyboard {
  min-width: 20px;
}

.control-cancel {
  position: absolute;
  cursor: pointer;
  left:0px;
  bottom: 0px;
}

.control-proceed {
  position: absolute;
  cursor: pointer;
  right:0px;
  bottom: 0px;
}

.selected {
  background-color: green;
}

.green-text {
  color: green;
}

.red-text {
  color:red;
}

.question-main {
  padding: 1%;
}

.control-proceed {
  display: inline-block;
  border: solid #171717;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.question-controls {
  justify-content: center;
}

.control-cancel {
  display: inline-block;
  border: solid #171717;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}


.question-image img {
  max-width: 512px;
  margin-left: 10px;
  margin-right: 10px;
}

.question-image .legend {
  max-width: 200px;
  vertical-align: top;
}

.intro-text {
  font-size: 16px;
  text-align: left;
}

.intro-text img {
  text-align: justify;
  width: 512px;
  margin-left: 15px;
  margin-right: 15px;
}

.intro-text .large-img {
  width: 1024px;
}

.disabled {
  color: lightgray;
  background-color: darkgray;
} */


.answer-image {
  max-width: 65px;
  max-height: 65px;
  vertical-align: middle;
}

.answer-color {
  width: 65px;
  height: 65px;
  vertical-align: middle;
}