.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.question-answers {
  display: flex;
  justify-content: center;
}

.question-answer {
  border: solid #171717;
  min-width:200px;
  margin: 5px;
  cursor: pointer;
}

.keyboard {
  min-width: 20px;
}

.control-cancel {
  cursor: pointer;
}

.control-proceed {
  cursor: pointer;
}

.selected {
  background-color: green;
}

.control-proceed {
  display: inline-block;
  border: solid #171717;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.question-controls {
  justify-content: center;
}

.control-cancel {
  display: inline-block;
  border: solid #171717;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}


.question-image img {
  max-width: 512px;
}

.question-answers {
  margin: 25px;
}